section#hero.section {
    padding-left: 0;
    padding-right: 1.9rem;
}
section#hero {
    margin-top: 146px;
}
.hero-content {
    justify-content: space-between;
    max-width: 1440px;
    width: 102%;
}
.hero__left {
    max-width: 52.955%;
    width: 100%;
    padding: 1.65rem 0;
}
.hero__left h2 {
    font-size: 5.6rem;
    letter-spacing: -0.02em;
    font-weight: 700;
    margin-bottom: 48px;
    color: #434343;
}
.hero__left h2 span {
    color: #a02279;
}
.hero__left p {
    font-size: 2.4rem;
    margin-bottom: 48px;
    color: #434343;
}

.search-box {
    max-width: 95.69%;
}
.search-box input {
    color: #434343;
    max-width: 62.07%;
    width: 100%;
    padding: 17.62px 9px;
    border-top-left-radius: 9px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 9px;
    border: 1.4px solid #a3a3a3;
    border-right: 0;
}
.search-box input::placeholder {
    color: #b8b8b8;
}
.search__button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 54px;
    max-width: 230px;
    width: 100%;
    font-size: 1.6rem;
}

.hero__right {
    height: 462.6px;
}
.hero__right img {
    width: 234px;
    height: 176px;
}
.hero__right_imagebox1,
.hero__right_imagebox2 {
    width: 234px;
}

.hero__right_imagebox1 {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    gap: 5px;
}
.hero__right_imagebox2 {
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 5px;
}

/*//////////      MEDIA QUERIES     //////////*/

@media screen and (max-width: 1419px) {
    .search-box input {
        max-width: 60.07%;
    }
    .hero__left p {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 1375px) {
    .search-box input {
        max-width: 55.07%;
    }
    .hero__left h2 {
        font-size: 5.4rem;
    }
    .hero__right img {
        width: 225.9px;
        height: 170.5px;
    }
}
@media screen and (max-width: 1332px) {
    .hero__left h2 {
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 1245px) {
    .hero__right img {
        width: 214.6px;
        height: 164.8px;
    }
}

@media screen and (max-width: 1225px) {
    .search-box input {
        max-width: 55%;
    }
    .search__button {
        max-width: 178px;
    }
    hero__left h2 {
        font-size: 4.2rem;
    }
}
@media screen and (max-width: 1189px) {
    .hero__left h2 {
        font-size: 3.5rem;
    }
    .hero__left p {
        font-size: 1.8rem;
    }
    .hero__right img {
        width: 185.6px;
        height: 137.8px;
    }

    .hero__right {
        height: 376.6px;
    }
    .hero__right_imagebox1,
    .hero__right_imagebox2 {
        width: 100%;
    }
}

@media screen and (max-width: 926px) {
    .hero__right img {
        width: 172.6px;
        height: 130.8px;
    }

    .search__button {
        max-width: 141px;
    }
}
@media screen and (max-width: 860px) {
    .hero-content {
        flex-direction: column-reverse;
    }
    .hero__left {
        max-width: 100%;
        width: 100%;
        padding: 1.65rem 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero__left h2 {
        font-size: 5.5rem;
        text-align: center;
    }
    .hero__left p {
        font-size: 2.8rem;
        text-align: center;
    }
    .hero__right {
        height: 479.6px;
    }

    .hero__right img {
        width: 100%;
        height: 213.8px;
    }
    .search-box {
        max-width: 63%;
        width: 100%;
    }

    .search-box input {
        max-width: 58%;
    }
    .hero-content {
        flex-direction: column-reverse;
        gap: 5rem;
    }
}

@media screen and (max-width: 710px) {
    .hero__left h2 {
        font-size: 5.2rem;
    }
    .search-box input {
        max-width: 55%;
    }
    .hero__left p {
        font-size: 2.2rem;
    }
}
@media screen and (max-width: 631px) {
    .hero__right img {
        width: 100%;
        height: 180.8px;
    }

    search-box input {
        max-width: 61%;
    }
    .hero__left h2 {
        font-size: 4.5rem;
    }
}
@media screen and (max-width: 580px) {
    .hero__right {
        height: 309.6px;
    }

    .hero__right img {
        width: 100%;
        height: 137.8px;
    }
    .search-box {
        max-width: 92%;
        width: 100%;
    }

    .search-box input {
        max-width: 64%;
    }
    .hero__left h2 {
        font-size: 4rem;
    }
    .hero__left h2 {
        font-size: 3.9rem;
    }
    .hero__left p {
        font-size: 2rem;
    }
}
@media screen and (max-width: 475px) {
    .search-box input {
        max-width: 58%;
    }
}
@media screen and (max-width: 426px) {
    .search-box input {
        max-width: 58%;
    }
    .hero__left h2 {
        font-size: 3.4rem;
    }
    .hero__left p {
        font-size: 1.5rem;
    }
}
@media screen and (max-width: 410px) {
    .search-box input {
        max-width: 48%;
    }
}
@media screen and (max-width: 350px) {
    .hero__right img {
        width: 100%;
        height: 90.8px;
    }
    .hero__right {
        height: 221.6px;
    }
    .search-box input {
        max-width: 48%;
    }
    .search__button {
        max-width: 115px;
    }
    .search-box {
        max-width: 116%;
    }
    .hero__right img {
        height: 111.8px;
    }
}
